/* .text-container {
    overflow: hidden;
  }
  
  .moving-text {
    animation: moveFromRight 10s linear infinite;
    font-size: 100px;
  }
  
  @keyframes moveFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
   */